<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulunamadı</title>
</head>
<body>

    {% for message in messages  %}
    <h1>{{message}}</h1>

    {% empty %}
    <h1>Üzgünüz... Aradığınız ürün bulunamadı.</h1>
    {% endfor %}

    <a href="{% url 'anasayfa' %}">Aramaya geri dönün ve keşfetmeye devam edin</a>
    
</body>
</html>