{% extends "base.html" %}
{% load static %}
{% block baslik %} AnaSayfa {% endblock baslik %}
{% block ekOgeler %}

<style>
    .product-title h3 {  margin-bottom: 8px;}
    .product-title span { padding-left: 8px;}
</style>

{% endblock ekOgeler %}




{% block site-icerigi %}

<div class="container mt-5">

    <p>Merhaba {{request.user}}</p>
    <h1>En son Eklenen Ürünler</h1>

    <div class="text-end">
        <a href="{% url 'create-product' %}">
            <button class="btn btn-success">+</button>
        </a>
      
    </div>
    <hr>


    <div class="row">

    {% for veri in data %}
    
    <div class="col-lg-4 mb-4">
    <div class="card">
    
        <div class="card-body">

            <div class="product-title">

     
            <a href="{% url 'urun-detay-sayfasi' veri.id %}">
                <h3 class="card-title text-center"> {{veri.ad}} </h3>
            </a>

            </div>

            <div class="image-container">
                <img src="/{{veri.resimKontrol}}" class="card-img-top responsive-img" alt="{{veri.ad}}-{{veri.id}}">   
            </div>
               
            
    
        
        </div>
      </div>
    
       </div>
      {% endfor %}

    </div>


</div>

{% endblock site-icerigi %}