{% extends "base.html" %}
{% block siteBaslik %} {{data.ad}} {% endblock siteBaslik %}


{% block ekOgeler %}
  
<style>
    #owner {
        font-size: 15px;
        color: purple;
    }

    .edit-product {

        text-decoration: none;
        color: orange;
        padding: 6px;
    }
</style>
{% endblock ekOgeler %}

{% block site-icerigi %}

<div class="container mt-5">

<div class="row">

    {% for message in messages  %}
      
    <div id="success-msg" class="alert alert-success">
        <p>{{message}}</p>
    </div>
    {% endfor %}

<div class="col-12">

    <div class="row">
        <div class="col-6">
         <div class="card mb-3">
            <img id="myimage" src="/{{data.resimAyarla}}" class="card-img-top" alt="ürün-resmi">
        </div>

        </div>



        <div class="col-6">
            
            <div class="card-body">
              
                <div class="d-flex align-items-center">
                    <h1 style="margin-right: auto;" class="card-title">{{data.ad}}</h1>
                    

                    {% if request.user.is_authenticated %}
                    
                    {% if productOwner or admin %}
                    <div class="edit-product">
                        <a class="edit-product" href="{% url 'urun-duzenle' data.id %}">Ürünü Düzenle</a>
                        <a id="deleteItem" class="edit-product text-danger" href="{% url 'urun-sil' data.id %}">Ürünü Sil</a>
                    </div>  
                    {% endif %}
                    

                    {% endif %}
                    
                </div>

                <hr>
                <p class="card-text"> <b>Ürün Açıklaması:</b> {{data.aciklama}}</p>
                <p class="card-text"> <b>Ürün Fiyatı:</b> {{data.fiat}}</p>
                <p class="card-text"> <b>Ürün Stok Sayısı:</b> {{data.stok}}</p>
                <p class="card-text"> <b>Garanti:</b> {{data.garantiSorgula}}</p>
            </div>

        </div>


    </div>

      </div>

</div>


<div class="container-mt-5">

    <h3>Yorumlar ({{data.yorumlar.count}})</h3>
    <hr>

    <!-- kullanıcının yapmış olduğu yorumlar -->
    {% for yorum in data.yorumlar.all %}

    <div class="card mb-4">
        <div class="card-header">
        <div class="card-author">


            {% if data.olusturan.id == yorum.yazar.id %}

            <h5> <span id="owner">[Ürünün Sahibi]</span> {{yorum.yazar}} </h5>

            {% else %}

            <h5> {{yorum.yazar}} </h5>

            {% endif %}
        

            {% if yorum.yazar.id == request.user.id or admin %}
    
            <div class="card-comment-options">

                <a class="edit" href="{% url 'yorum-duzenle' yorum.urun.id yorum.id %}">Düzenle</a>
                <a class="delete" href="{% url 'yorum-sil' yorum.urun.id yorum.id %}">Sil</a>

            </div>
     
            {% endif %}

        </div>

        </div>

        <div class="card-body">
          <blockquote class="blockquote mb-0">
          {{yorum.message|linebreaks}}
            <footer class="blockquote-footer mt-3"> <small>{{yorum.tarih}}</small> </footer>
          </blockquote>
        
        </div>
      
    </div>
      
    {% empty %}
    <p>Bu ürün için hiç yorum yapılmamış.</p>
    {% endfor %}
    
    <!-- yorum yapma alanı -->
    {% if request.user.is_authenticated %}

    <form class="mt-3" action="{% url 'urun-detay-sayfasi' data.id %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <textarea type="text" name="message" style="max-height: 140px; height: 140px;" class="form-control" placeholder="Mesajınız..."></textarea>
    
        </div>

        <div>
            <button class="btn btn-primary" type="submit">Yorum Yap</button>
        </div>
    </form>

    {% else %}
      
    <p class="text-center">Yorum yapmak için lütfen <a href="{% url 'user-login' %}"> giriş yapınız</a> </p>
    {% endif %}


</div>
    
</div>


<script>
document.getElementById('deleteItem').addEventListener('click', function(event) {

event.preventDefault()
const onay = confirm("Bu ürünü silmek istediğinize emin misiniz? Bu işlem geri alınamaz")

if(onay) {
    window.location = event.target.href
} 

})

document.querySelectorAll('.delete').forEach(function(a) {

a.onclick = function(event) {

event.preventDefault();
const onay = confirm("Bu yorumu silmek istediğinize emin misiniz?")

if (onay) {

    window.location = event.target.href
}

}
})

</script>



<script>

setTimeout(() => {

const div = document.getElementById('success-msg')

if(div) div.remove();

}, 5000);
</script>

{% endblock site-icerigi %}