{% extends "base.html" %}

{% block siteBaslik %} Kayıt Ol {% endblock siteBaslik %}
{% block site-icerigi %}
  
<div class="container mt-5">

<div class="form-area">

<h3>Kayıt Ol</h3>
<hr>

<form action="{% url 'user-register' %}" method="post">
{% csrf_token %}

{% for message in messages %}
  <p style="color: red;"> {{message}} </p>
{% endfor %}

<input type="text" class="form-control" placeholder="Kullanıcı Adı" name="k_ad">
<input type="email" class="form-control" placeholder="E-mail Adresi" name="k_email">
<input type="password" class="form-control" placeholder="Şifre" name="k_sifre">

<span>Zaten bir hesabın var mı? <a href="{% url 'user-login' %}">buradan giriş yapabilirsin</a> </span>

<div class="mt-3">
    <button class="btn btn-success">Kayıt Ol</button>
</div>

</form>

</div>

</div>
{% endblock site-icerigi %}
