#site-nav {

    background-color: rgb(12, 10, 10);
    color:  white
}

#site-nav * {

    color: inherit;
}



.card-author {

    display: flex;
    align-items: center;
}

.card-comment-options a {

    display: inline-block;
    padding: 6px;
    text-decoration: none;
}

.edit {
    color: rgba(199, 129, 0, 0.74);
}

.delete {

    color: red;
}

.card-author h5 {

    margin-right: auto;
}


.form-area {
    width: 50%;
}
form input,label,textarea {
    display: block;
    margin-bottom: 6px;
}

.responsive-img {

    width: 322px;
    height: 322px;
    max-height: 322px;
}